<footer>
  <div class="bg-dark text-white position-sticky top-100 start-50 p-3">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">About</h5>
          <p class="card-text">
            fvWeb is a web app written in Flask providing a Forum, Wiki and
            authentication. To learn more, click one of the links below to see
            what interests you.
          </p>
          <a href="/about" class="card-link link-secondary-dark text-decoration-none"
            ><i class="bi bi-card-text"></i>&nbspAbout</a
          ><br />
          <a
            href="/privacy"
            class="card-link link-secondary-dark text-decoration-none"
            ><i class="bi bi-fingerprint"></i>&nbspPrivacy Policy</a
          ><br />
          <a href="/terms" class="card-link link-secondary-dark text-decoration-none"
            ><i class="bi bi-list-columns-reverse"></i>&nbspTerms</a
          ><br />
        </div>
        <div class="col">
          <h5 class="card-title">Source Code</h5>
          <p class="card-text">
            You can view the fvWeb source code on GitHub. The fvWeb project is
            open and you're free to fork it and modify it for your own
            creations.
          </p>
          <a
            href="https://github.com/HyScript7/fvWeb"
            class="card-link link-secondary-dark text-decoration-none"
            ><i class="bi bi-github"></i>&nbspGitHub</a
          >
        </div>
        <div class="col">
          <h5 class="card-title">Social</h5>
          <p class="card-text">You can join our official discord server.</p>
          <a
            href="https://discord.gg/4rTXxzxJsM"
            class="card-link link-secondary-dark text-decoration-none"
            ><i class="bi bi-discord"></i>&nbspDiscord</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
