# Local testing files
testing_*

# Compiled SASS
*.scss.css
*.scss.css.map

# CSS & JS Libraries
app/static/js/bootstrap.min.js
app/static/js/jquery-3.6.1.min.js
app/static/js/popper.min.js
app/static/js/quill.min.js
app/static/css/quill.snow.css
app/static/css/icons/
app/static/sass/bootstrap/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
