@import "./bootstrap/scss/functions";
@import "./bootstrap/scss/variables";

$primary:        $indigo-500;
$primary-dark:   $indigo-700;
$secondary:      $purple-500;
$secondary-dark: $purple-900;

$theme-colors: (
  "primary":        $primary,
  "primary-dark":   $primary-dark,
  "secondary":      $secondary,
  "grey":           $gray-600,
  "secondary-dark": $secondary-dark,
  "success":        $success,
  "info":           $info,
  "warning":        $warning,
  "danger":         $danger,
  "light":          $light,
  "dark":           $dark
);

.bg-light-noise {
    background-color: rgba($color: $light, $alpha: 0.5);
    background-image: url("/static/img/noise.png");
}

.bg-dark-noise {
    background-color: rgba($color: $dark, $alpha: 0.5);
    background-image: url("/static/img/noise.png");
}

.bg-light-noise-low {
    background-color: rgba($color: $light, $alpha: 0.25);
    background-image: url("/static/img/noise.png");
}

.bg-dark-noise-low {
    background-color: rgba($color: $dark, $alpha: 0.25);
    background-image: url("/static/img/noise.png");
}



body {
    background-image: url("/static/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cookie-consent {
    position: fixed;
    bottom: 0px;
}

@import "./bootstrap/scss/bootstrap";
