{% extends "index.html" %}
{% block content %}
<!-- fvWiki - Article ID {{id}} -->
<br>
<div class="container-fluid">
    <div class="float-lg-start w-50">
        <div class="table-responsive mx-2 border border-2 border-dark bg-noise">
            <table class="table border-dark broder-0 text-light">
                <thead>
                    <tr>
                        <th scope="col">
                            <h2>Table of Content</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                        {% for i in content[0] %}
                        <tr>
                            <td scope="row">
                                <a class="text-decoration-none link-success" href="#Title{{i[0]}}"><div>{{i[0]}}. {{i[1].strip("#")}}</div></a>
                                <!--
                                <ol>
                                    {% for y in range(1,3) %}
                                    <a class="text-decoration-none link-success" href="#SubTitle{{i}}.{{y}}"><li><div>Sub Title {{y}}</div></li></a>
                                    <ol>
                                        <a class="text-decoration-none link-success" href="#SubSubTitle{{i}}.{{y}}.1"><li><div>Sub Sub Title 1</div></li></a>
                                        <a class="text-decoration-none link-success" href="#SubSubTitle{{i}}.{{y}}.2"><li><div>Sub Sub Title 2</div></li></a>
                                    </ol>
                                    {% endfor %}
                                </ol>
                                -->
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <article>
        <!-- Content Here -->
        {% for i in content[1] %}
            {% if i.startswith("#") and i.replace("#", "").startswith(" ") %}
                {% for x in content[0] %}
                    {% if x[1] == i %}
                    <a id="Title{{x[0]}}"></a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {{ i | markdown }}
        {% endfor %}
    </article>
</div>
{% endblock %}
