{% extends "index.html" %}
{% block content %}
<!-- fvWiki - Article ID {{id}} -->
<br>
<div class="container-fluid">
    <div>
        <!-- Status Bar -->
    </div>
    <div class="float-lg-start w-50">
        <div class="table-responsive mx-2 border border-2 border-dark bg-noise">
            <table class="table border-dark border-0 text-light">
                <thead>
                    <tr>
                        <th scope="col">
                            <h2>Table of Content</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                        {% for i in content[0] %}
                        <tr>
                            <td scope="row">
                                <a class="text-decoration-none link-success" href="#Title{{i[0]}}"><div>{{i[1].strip("#")}}</div></a>
                            </td>
                            <td scope="row">
                                {{i[0]}}
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <article>
        <!-- Content Here -->
        {% for i in content[1] %}
            {% if i.startswith("#") and i.replace("#", "").startswith(" ") %}
                {% for x in content[0] %}
                    {% if x[1] == i %}
                    <a id="Title{{x[0]}}"></a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {{ i | markdown }}
        {% endfor %}
    </article>
</div>
{% endblock %}
