{% extends "base.html" %}
{% block body %}
{% if not authtype=="selection" %}
<a href="?" class="link-success">Go back</a>
{% else %}
<a href="/" class="link-success">Go back</a>
{% endif %}
<main>
    <div class="container text-light mx-auto my-5 justify-content-center">
        {% if error|int==1 %}
            <div class="alert alert-warning d-flex align-items-center" role="alert"><i class="bi bi-exclamation-triangle"></i><div>&nbspYou must specify an email address, username and password!</div></div>
        {% elif error|int==2 %}
            <div class="alert alert-danger d-flex align-items-center" role="alert"><i class="bi bi-exclamation-triangle"></i><div>&nbspThe username or password are incorrect!</div></div>
        {% elif error|int==3 %}
            <div class="alert alert-danger d-flex align-items-center" role="alert"><i class="bi bi-exclamation-triangle"></i><div>&nbspThe username and/or email have already been registered!</div></div>
        {% endif %}

        {% if authtype=="login" %}
            <div class="card text-bg-dark">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <p class="card-text">{{ 'Logged in as ' + session['authSession'][1] if session['authSession'] else 'Logged out' }}</p>
                    <form id="fvAuth_LoginForm">
                        <div class="mb-3"><input type="text" class="form-control" name="username" id="fvAuth_Username" placeholder="Username"></div>
                        <div class="mb-3"><input type="password" class="form-control" name="password" id="fvAuth_Password" placeholder="Password"></div>
                        <div class="w-100 py-1 px-2">
                            <button type="submit" formmethod="POST" formaction="/api/auth/login" class="btn btn-primary w-100">Login</button>
                        </div>
                        <div class="w-100 py-1 px-2">
                            <button type="submit" formmethod="POST" formaction="/api/auth/logout" class="btn btn-secondary w-100">Logout</button>
                        </div>
                    </form>
                </div>
            </div>
        {% elif authtype=="register" %}
            <div class="card text-bg-dark">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form id="fvAuth_LoginForm" enctype="multipart/form-data">
                        <div class="mb-3"><input type="email" class="form-control" name="email" id="fvAuth_Email" placeholder="Email"></div>
                        <div class="mb-3"><input type="text" class="form-control" name="username" id="fvAuth_Username" placeholder="Username"></div>
                        <div class="mb-3"><input type="password" class="form-control" name="password" id="fvAuth_Password" placeholder="Password"></div>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="avatar" id="fvAuth_Avatar">
                            <label class="input-group-text" for="fvAuth_Avatar">Avatar</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="1" id="fvAuth_TOS">
                          <label class="form-check-label" for="fvAuth_TOS">
                            I have read and accept the <a href="/terms" class="link-success">Terms of Service</a>
                          </label>
                        </div>
                        <p>
                            Read the <a href="/privacy" class="link-success">Privacy Policy</a> for more information on what data we keep on you and how cookies are used.
                        </p>
                        <div class="w-100 py-1 pt-2 px-2">
                            <button type="submit" formmethod="POST" formaction="/api/auth/register" class="btn btn-success w-100">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="card text-bg-dark">
                <div class="card-header">
                    Authentication
                </div>
                <div class="card-body">
                    <div class="w-100 py-1 px-2">
                        <a href="?login" class="btn btn-success w-100">Login</a>
                    </div>
                    <div class="w-100 py-1 px-2">
                        <a href="?register" class="btn btn-success w-100">Register</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}
