{% extends "index.html" %}
{% block content %}
<h1>fvWeb Authentication</h1>
<p>This is the route for authentication.<br>It will be remade later to look like a full login & register page.</p>
{% if error|int==1 %}
<div class="alert alert-warning d-flex align-items-center" role="alert"><i class="bi bi-exclamation-triangle"></i><div>&nbspYou must specify an email address!</div></div>
{% elif error|int==2 %}
<div class="alert alert-danger d-flex align-items-center" role="alert"><i class="bi bi-exclamation-triangle"></i><div>&nbspThe username or password are incorrect!</div></div>
{% elif error|int==3 %}
<div class="alert alert-danger d-flex align-items-center" role="alert"><i class="bi bi-exclamation-triangle"></i><div>&nbspThe username and/or email have already been registered!</div></div>
{% endif %}
<!-- Begin Login -->
<div class="row"><div class="col-5"><div class="container p-2 mb-2 bg-dark text-light border-secondary border">
    <h3>Login</h3>
    <p>Current Session: {{ session['authSession'][1] if session['authSession'] else 'Logged out' }}</p>
    <form id="fvAuth_LoginForm">
        <div class="mb-3"><input type="text" class="form-control" name="username" id="fvAuth_Username" placeholder="Username"></div>
        <div class="mb-3"><input type="password" class="form-control" name="password" id="fvAuth_Password" placeholder="Password"></div>
        <button type="submit" formmethod="POST" formaction="/api/auth/login" class="btn btn-primary">Login</button>
        <button type="submit" formmethod="POST" formaction="/api/auth/logout" class="btn btn-secondary">Logout</button>
</form></div></div><div class="col"></div></div>
<!-- End Login -->
<!-- Begin Register -->
<div class="row"><div class="col-5"><div class="container p-2 mb-2 bg-dark text-light border-secondary border">
    <h3>Register</h3>
    <form id="fvAuth_LoginForm" enctype="multipart/form-data">
        <div class="mb-3"><input type="email" class="form-control" name="email" id="fvAuth_Email" placeholder="Email"></div>
        <div class="mb-3"><input type="text" class="form-control" name="username" id="fvAuth_Username" placeholder="Username"></div>
        <div class="mb-3"><input type="password" class="form-control" name="password" id="fvAuth_Password" placeholder="Password"></div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="avatar" id="fvAuth_Avatar">
            <label class="input-group-text" for="fvAuth_Avatar">Avatar</label>
        </div>
        <button type="submit" formmethod="POST" formaction="/api/auth/register" class="btn btn-success">Register</button>
</form></div></div><div class="col"></div></div>
<!-- End Register -->
{% endblock %}
