<!DOCTYPE html>
<html>
    <head>
        <title>Fusionverse</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.scss.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/icons/bootstrap-icons.css') }}">
		{% block head %}
		{% endblock %}
    </head>
    <body>
		<script>0</script> <!-- This for some reason prevents unstylised content from flashing on firefox -->
		{% block body %}
		{% endblock %}
		{% if not request.cookies.get('cookies') %}
		<div class="cookie-consent container-fluid w-100 p-3 text-light bg-dark border border-5 border-success">
			<p><strong>This website uses cookies</strong></p>
			<p>Learn how cookies are used on this website by clicking the "Learn more" button below.</p>
			<p></p>
			<form>
				<button class="btn btn-success" formaction="/api/cookiesAccepted">Accept</button>
				<button class="btn btn-success" formaction="/privacy">Learn more</button>
			</form>
		</div>
		{% endif %}
        <script src="{{ url_for('static', filename='/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>
		{% block scripts %}
		{% endblock %}
    </body>
</html>
