{% extends "index.html" %}
{% block content %}
<div class="container p-2 text-center"><img class="img-fluid w-50" src="{{ url_for('static', filename='/img/title.png') }}" alt="Fusionverse Banner"/></div>
{% if session['authSession'] %}
<h1>Hello, {{session['authSession'][1]}}!</h1>
<p>You can logout either on the top right panel or <a href="/auth?version=new" class="link-light">Here</a></p>
{% else %}
<h1>Welcome to Fusionverse!</h1>
<h2>You are currently not logged in&nbsp<i class="bi bi-key-fill"></i></h2>
<p>You can login or register <a href="/auth?version=new" class="link-light">Here</a></p>
{% endif %}
{% endblock %}
